body{
    background-color: pink;
}
.big img {
  width: 400px;
  height: 250px;
  display: block;
  margin: auto;
}

#caption {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.thumbs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.thumbs img {
  width: 100px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbs img.border {
  border: 4px solid white;
}
