   .container {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       gap: 20px;
       margin-top: 10%;
       margin-left: 32%;
       /* background-color: aqua; */
       width: 35%;
   }

   .box {
       width: 100px;
       height: 100px;
       background-color: rgb(211, 208, 208);
       cursor: pointer;
   }

   #mainCounter {
       margin-top: 30px;
       font-size: 20px;
       text-align: center;
       color: black;
   }